# Ignore node_modules directory to prevent Docker from copying it
node_modules/

# Ignore log files
*.log

# Ignore Dockerfile and docker-compose files
Dockerfile
docker-compose.yml

# Ignore git folder
.git/

# Ignore build artifacts
dist/
build/
